.Line1 {
    height: 0px;
    width: 528.0000000000005px;
    margin-left: 51px;
    margin-top: 0px;
    border-radius: nullpx;
}

.gel1 {
    height: 794.5135417686544px;
    width: 1028.496449558306px;
    margin-left: 5350px;
    margin-top: -100;
    border-radius: 0px;
}

.judul1 {
    height: 596.000244140625px;
    width: 1057px;
    margin-left: 63px;
    margin-top: -507px;
    border-radius: nullpx;
}

.lingkaran {
    height: 65.00003051757812px;
    width: 446.47540283203125px;
    margin-left: 157px;
    margin-top: -804px;
    border-radius: 0px;
}

.vektor {
    height: 1024px;
    width: 1440px;
    margin-left: 0px;
    margin-top: -100px;
    border-radius: 0px;
}

.vektor6 {
    height: 497.1017150878906px;
    width: 510px;
    margin-left: 930px;
    margin-top: -1020.1px;
    border-radius: 0px;
}

.vektor5 {
    height: 886.0000610351562px;
    width: 166px;
    margin-left: 1275px;
    margin-top: -365px;
    border-radius: 0px;
}

.garis-gel {
    height: 343px;
    width: 435px;
    margin-left: 562px;
    margin-top: -810px;
    border-radius: 0px;
}

.gel3 {
    height: 299.2928757614599px;
    width: 1024.4999950851388px;
    margin-left: 0px;
    margin-top: 323px;
    border-radius: 0px;
}

.lingkaran2 {
    height: 217px;
    width: 217px;
    margin-left: 930px;
    margin-top: -370px;
    border-radius: 0px;
}

.silang {
    height: 724.9913940429688px;
    width: 1211.9913330078125px;
    margin-left: 176px;
    margin-top: -596px;
    border-radius: 0px;
}